:root {
    --color-background: #242331;
    --color-navegador: #212121;
    --color-letra: #F2F7F2;
    --color-boton: #FF6542;
    --color-boton-hover: #ff441a;
}

* {
    margin: 0;
}

body {
    font-family: sans-serif;
    background-color: var(--color-azul-oscuro);
}