:root {
    --color-background: #242331;
    --color-navegador: #212121;
    --color-letra: #F2F7F2;
    --color-boton: #FF6542;
    --color-boton-hover: #ff441a;
    --color-letra2: #A6A6A6;
}

* {
    margin: 0;
    font-family: sans-serif;
}

body {
    font-family: sans-serif;
    background-color: var(--color-navegador);
}

.r_cuerpo {
    display: flex;
}

.r_contenido {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.r_BORRAR,
.r_musica {
    margin: .5rem;
    background-color: var(--color-background);
    height: 100vh;
    border-radius: 15px;
}

.r_BORRAR {
    width: 20%;
    height: 97vh;
}

.r_principal {
    width: 100%;
    height: 97vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.r_listado {
    /*background-color: var(--color-background);*/
    background: rgb(20, 0, 36);
    background: linear-gradient(180deg, rgba(20, 0, 36, 0.39548319327731096) 0%, rgba(35, 46, 46, 1) 6%, rgba(41, 49, 35, 0.8632703081232493) 32%, rgba(36, 35, 49, 1) 72%, rgba(36, 35, 49, 1) 73%);
    width: 70%;
    margin: .5rem;
    border-radius: 15px;
    height: 97vh;
    overflow: auto;
}

.r_anuncio {
    background-color: var(--color-background);
    width: 30%;
    margin: .5rem;
    border-radius: 15px;
    height: 97vh;
    animation: movedAnuncio 1s;
}

@keyframes movedAnuncio {
    0% {
        transform: translateX(300%);
    }

    100% {
        transform: translateX(0);
    }
}

.r_en_curso,
.r_control,
.r_pistas {
    width: 100%;
}

.r_en_curso {
    height: 40vh;
    color: var(--color-letra);
}

.r_en_curso img {
    cursor: pointer;
    width: 30px;
}

.r_curso_control {
    margin-left: 20px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.r_der img {
    margin-right: 20px;
}

.r_curso_banner {
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.r_curso_like {
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    width: 160px;
    height: 160px;
    border-radius: 20%;
    box-shadow: 13px 10px 39px 6px rgba(0, 0, 0, 0.61);
    -webkit-box-shadow: 13px 10px 39px 6px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 13px 10px 39px 6px rgba(0, 0, 0, 0.61);
    transition: 0.3s;
}

.r_curso_like img {
    filter: brightness(40%);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
}

.r_curso_like:hover{ 
    transform: scale(1.05);
}

.r_control {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.r_controlPlay1 {
    color: var(--color-letra2);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    margin-right: 30px;
}

.r_controlPlay1 img{
    transition: 0.3s;
}

.r_controlPlay1 img:hover{
    transform: scale(1.08);
}

.r_controlPlay2 {
    color: var(--color-letra2);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    margin-right: 30px;
}

.r_controlPlay2 p {
    cursor: pointer;
}

.r_controlPlay p {
    margin-left: 20px;
}

.r_control img {
    cursor: pointer;
    width: 80px;
}

.r_mini {
    cursor: pointer;
    width: 30px !important;
}

.r_flecha_abajo {
    cursor: pointer;
    width: 15px !important;
}

.r_pistas {
    height: 45vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.r_tabla {
    width: 100%;
    color: var(--color-letra2);
    padding: 20px !important;
    border-collapse: collapse;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.r_album {
    color: var(--color-letra);
}

.r_tabla td {
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.r_tabla tr {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.r_tabla tr:hover {
    cursor: pointer;
    background-color: var(--color-navegador);
}

.r_cabecera {
    border-bottom: 1px solid var(--color-letra2) !important;
}

.r_cabecera:hover {
    background-color: var(--color-background) !important;
    cursor: default !important;
}

.r_tabla td img {
    width: 60px;
}

.r_anuncio {
    overflow: auto;
    background: linear-gradient(0deg, rgba(36, 35, 49, 1) 71%, rgba(45, 45, 55, 1) 95%);
}

.r_close {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.r_close img {
    width: 20px;
    cursor: pointer;
}

.r_sponsor {
    margin: auto;
    text-align: center;
}

.r_sponsor img {
    width: 90%;
    border-radius: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.r_controles{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 10%;
    background-color: var(--color-navegador);
    filter: brightness(40%);
    top: 90%;
    transition: transform 1s;
}

.r_controles:active {
    transform: translateY(100%);
}

.r_cancion_actual{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
}

.r_cancion_actual img{
    width: 50px;
}

.r_like_actual{
    cursor: pointer;
    width: 30px !important;
    filter: brightness(600%);
    transition: 0.4s;
}

.r_like_actual:hover{
    filter: brightness(200%);
}

.r_acciones img{
    width: 30px;
    cursor:pointer;
    transition: 0.3s;
}

.r_acciones img:hover{
    filter: brightness(60%);
}

.r_acciones .r_accion_up{
    text-align: center;
    margin-bottom: 5px;
}

.r_acciones .r_accion_down{
    display: flex;
    align-items: center;
    width: 100%;
    height: 10px;
}

.r_acciones .r_accion_down span{
    margin-right: 10px;
    margin-left: 10px;
}

.r_acciones .r_barra{
    background-color: #fff;
    cursor: pointer;
    width:300px;
    height: 10px;
    border-radius: 10px;
}

.r_configuracion{
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.r_configuracion img{
    margin-right: 10px;
    width: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.r_configuracion img:hover{
    filter: brightness(60%);
}

.r_barra2{
    background-color: #fff;
    cursor: pointer;
    width:100px;
    height: 10px;
    border-radius: 10px;
    margin-right:10px;
}